.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .loginContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 350px;
    background-color: blue;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 300px;
  }